In [3]:
import sys
from pathlib import Path

import pandas as pd
import geopandas as gpd

DIR = Path('..')
sys.path.append(str(DIR))

import arcpyconvertor as apc

DATA_DIR = DIR/'data/'

%load_ext autoreload
%autoreload 2

# Playground

In [4]:
fc = DATA_DIR/'ArcGIS.gdb/Map/stops'
gdf = apc.fc_to_gdf(str(fc))
gdf

,geometry,stop_code,stop_id,stop_lat,stop_lon,stop_name
0,POINT (1757291.6532 5919487.4322),7149,0149,-36.857455,174.76443,83 Symonds St
1,POINT (1757597.0082 5919795.0909),7148,0160,-36.854632,174.76779,36 Symonds St
2,POINT (1757584.2243 5919779.013),7150,0161,-36.854779,174.76765,38 Symonds St
3,POINT (1757567.8373 5919761.004),7152,0162,-36.854944,174.76747,44 Symonds St
4,POINT (1757386.7252 5919564.6951),7154,0163,-36.856743,174.76548,86 Symonds St
5,POINT (1757092.1874 5919649.0446),7061,5100,-36.856032,174.76216,385 Queen St
6,POINT (1757093.2703 5919611.0683),7062,5113,-36.856374,174.76218,490 Queen St
7,POINT (1757140.1997 5919206.2231),7164,5115,-36.860014,174.76279,Symonds St Overbridge..
8,POINT (1757153.2011 5919234.1728),7162,5116,-36.859760,174.76293,Symonds St Overbridge
9,POINT (1757169.9018 5919269.2681),7160,5117,-36.859441,174.76311,Symonds St Overbridge.
10,POINT (1757186.5821 5919303.254),7158,5118,-36.859132,174.76329,Symonds St Overbridge
11,POINT (1757258.4941 5919430.4444),7156,5119,-36.857974,174.76407,Symonds St Cemetery
12,POINT (1757421.3431 5919748.7314),7128,5138,-36.855079,174.76583,84 Wakefield St
13,POINT (1757707.736 5919080.3036),7227,5428,-36.861054,174.76918,Park Road Opp Auckland Hospital
14,POINT (1757580.8062 5919257.1207),7284,6450,-36.859482,174.76772,Grafton Rd Opposite Auckland Hospital Gate4
15,POINT (1757571.3304 5919226.9976),7282,6451,-36.859755,174.76762,Grafton Rd Auckland Hospital Gate4
16,POINT (1757309.3999 5919482.5539),7159,6970,-36.857496,174.76463,110 Symonds St
17,POINT (1757193.6871 5919398.2355),1069,7143,-36.858275,174.76335,Karangahape Rd Near Symonds St
18,POINT (1757172.2842 5919398.2977),1086,7145,-36.858278,174.76311,Karangahape Rd By Cemetery

In [3]:
fc = DATA_DIR/'ArcGIS.gdb/Map/stops_copy01'
apc.gdf_to_fc(gdf, str(fc))

In [4]:
tbl = DATA_DIR/'ArcGIS.gdb/ar_df'
df = apc.tbl_to_df(str(tbl))
df

,Field1,d_stop,walk_to_stop_sec,o_type,arrival_time_sec,arrival_time,o_tt
0,112,120,238.163369,Start Location,29038.163369,1958-03-08T00:00:00,0
1,113,121,180.047950,Start Location,28980.047950,2000-03-08T00:00:00,0
2,4727,5268,72.134358,Start Location,28872.134358,2012-01-08T00:00:00,0
3,5248,6179,103.251183,Start Location,28903.251183,1943-01-08T00:00:00,0
4,5257,6193,292.487770,Start Location,29092.487770,1952-04-08T00:00:00,0
5,5988,7317,254.949856,Start Location,29054.949856,2014-04-08T00:00:00,0
6,5989,7318,178.168129,Start Location,28978.168129,1958-02-08T00:00:00,0

In [24]:
tbl = DATA_DIR/'ArcGIS.gdb/ar_df_copy'
apc.df_to_tbl(df, str(tbl))

'..\\data\\ArcGIS.gdb\\ar_df_copy'

In [27]:
fc = DATA_DIR/'ArcGIS.gdb/Map/stops'
geojson = DATA_DIR/'stops.geojson'
apc.fc_to_geojson(str(fc), str(geojson))

'..\\data\\stops.geojson'

In [30]:
geojson = DATA_DIR/'stops.geojson'
fc = DATA_DIR/'ArcGIS.gdb/Map/stops_copy02'
apc.geojson_to_fc(str(geojson), str(fc))

'..\\data\\ArcGIS.gdb\\Map\\stops_copy02'